PORT=3000
MONGODB_URI=mongodb://0.0.0.0:27017/sync
REDIS_URI=redis://localhost:6379

DEV=TRUE
FREE=TRUE

COOKIE_SECRET=your_cookie_secret_here
JWT_SECRET=your_jwt_secret_here
SESSION_SECRET=your_session_secret_here

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=test@gmail.com
MAIL_PASSWORD=random_number

DEV_URL=http://localhost:5173
VITE_HOST_URL=https://localhost:3000

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
REDIS_PREFIX=sync_sess:
REDIS_DB_NAME=sync