@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  color: azure;
  background: url(/bg-dark.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  animation: lanternGlowing 5s ease-in-out infinite alternate-reverse;
}

@media screen and (min-width: 1200px) {
  body {
    background-position: top left;
    background-size: 100%;
  }
}

.filepond--root > .filepond--panel {
  background-color: #3f6071;
}


@media (min-width: 640px) {
  .filepond--root {
    height: calc(100vh - 11rem);
  }
  
  .filepond--root .filepond--drop-label {
    font-size: larger;
    font-family: "Courier New", Courier, monospace;
    height: calc(100vh - 15rem);
    color: aliceblue;
  }
  
  .filepond--root .filepond--list-scroller {
    height: auto;
  }
}


@keyframes lanternGlowing {
  from {
    backdrop-filter:  brightness(2) sepia(0.2) saturate(1);
  }

  to {
    backdrop-filter: brightness(1) sepia(0.1) saturate(1.5);
  }
}