@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grid-width: 200px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: azure;
}

a {
  text-decoration: none;
}

video, img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}


::-webkit-scrollbar {
  width: 2px;
  height: 1px;
  background: #1565a2;
}

::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-radius: 20px;
}

.h-90 {
  height: 90%;
}

.h-95 {
  height: 95%;
}